// Logo font
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");

// Default font
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");

// Fonts and typography
$default-font: "Source Code Pro";
$logo-font: "Dosis";
$interface-text-size: 1.5rem;

// COLORS
// Cobalt theme
$darkest-blue: #053f5c;
$light-blue: #429ebd;
$lightest-blue: #9fe7f5;
$yellow: #f7ad19;
$orange: #f27f0c;
$greenish: #23ec7b;
$red: #ff4476;
