@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #053f5c;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

.wrapper {
  width: 990px;
  padding: 35px;
  font-size: 1.5rem;
}

.content-box {
  font-family: "Source Code Pro";
  padding: 13px 20px 0;
  border-radius: 10px;
  color: #429ebd;
}

.typing-text {
  max-height: 125px;
  overflow-y: auto;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

.typing-text p {
  text-align: justify;
  word-break: break-all;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.result-details {
  display: flex;
  width: calc(100% - 160px);
  justify-content: space-between;
}

.result-details li {
  display: flex;
}

.result-details li span {
  display: block;
  margin-left: 10px;
}

.restart-btn {
  color: #429ebd;
  font-family: "Source Code Pro";
  font-size: 1.5rem;
}

.restart-btn:hover {
  color: #f7ad19;
  cursor: pointer;
}

.correct-char {
  color: #f7ad19;
}

.incorrect-char {
  color: #9fe7f5;
}

.typing-text span {
  position: relative;
}

.cursor::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 30px;
  background: #f7ad19;
  opacity: 0;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
